.modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-wrapper {
    top: 50%;
    left: 50%;
    width: 60%;
    z-index: 99;
    height: 80vh;
    position: fixed;
    overflow-y: scroll;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
    .modal {
      width: 100%;
      height: 100%;
      padding: em(15);
      background: var(--cg_neutral_0);
      .modal-body {
        padding-top: em(60);
        .modal-video {
          position: relative;
          margin-top: em(20);
          .product-img-video-play-icon {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }
        .modal-image {
          margin-top: em(20);
        }
      }
      .modal-header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        @extend h2;
        display: flex;
        position: fixed;
        align-items: center;
        padding-top: rem(14);
        padding-bottom: rem(17);
        justify-content: space-between;
        .first {
          flex: 1;
          text-align: left;
          height: rem(25);
          margin-left: rem(25);
          font-size: rem(17);
          padding: 0 0 rem(4);
          text-transform: none;
        }
        .middle {
          font-weight: 600;
          overflow: hidden;
          font-size: rem(24);
          text-align: center;
          white-space: nowrap;
          line-height: rem(28);
          line-height: rem(25);
          text-overflow: ellipsis;
          width: calc(50% - 0.78125rem);
        }
        .last {
          flex: 1;
          text-align: right;
          align-self: center;
          position: relative;
          margin-right: em(20);
          button {
            color: var(--cg_neutral_800);
            width: rem(14);
            height: rem(14);
            display: inline-block;
          }
        }
      }
    }
  }
}
