.pdp-product-images {
  margin: 2.5em 0;
}

.product-item {
  margin-bottom: 1.5em;
  max-width: 404px;
  a,
  img {
    width: 100%;
    background-size: cover;
  }

  .product-name {
    margin-top: 1em;
    font-family: "Montserrat", Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .product-price {
    font-family: "Montserrat", Arial, Sans-Serif;
    font-size: 1em;
    text-transform: uppercase;
  }
}
