.promo-bar-botton {
  border-top: 1px solid var(--cg_neutral_300);
  border-bottom: 1px solid var(--cg_neutral_300);
  // background-color: #0070ad;
  .w1 {
    display: none;
    @media screen and (min-width: ($bp-tablet - 1px)) {
      display: block;
    }
    &.slick {
      display: block;
      max-width: em(360);
      margin: 0 auto;
      color: var(--cg_neutral_700);
      padding: em(12) em(20);
      @media screen and (min-width: ($bp-tablet - 1px)) {
        display: none;
      }
      .w2 {
        text-align: center;
      }
      .slick-arrow {
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        &:hover {
          background-position: center;
          background-repeat: no-repeat;
        }
        &.slick-next {
          background-image: var(--cg-right-chevron);
        }
        &.slick-prev {
          background-image: var(--cg-left-chevron);
        }
        &.slick-next::before {
          display: none;
        }
        &.slick-prev::before {
          display: none;
        }
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: em(12) 0;
      li {
        padding: 0 em(80);
        position: relative;
        @media screen and (max-width: $bp-desktop) {
          padding: 0 em(20);
        }
        &::after {
          content: "";
          position: absolute;
          height: em(20);
          width: em(1);
          right: 0;
          top: 0;
          background-color: var(--cg_neutral_300);
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
