.filters-section {
  position: relative;
  text-transform: capitalize;
  .w1 {
    .filter-icon {
      background-image: var(--cg-filter);
      height: 1em;
      width: 1em;
      background-size: contain;
    }
    .clear-option {
      background: var(--cg-close) no-repeat;
      height: em(16);
      width: em(16);
      background-size: contain;
    }
    .w2 {
      width: 40.692%;
      display: flex;
      padding: em(8) em(12);
      align-items: center;
      justify-content: space-between;
      border: em(1) solid var(--cg_neutral_600);
      @media (min-width: ($bp-mobile+1px)) {
        gap: em(80);
        width: auto;
        height: em(36);
      }
    }
    ul {
      display: flex;
      gap: em(28);
      flex-wrap: wrap;
      @media (max-width: ($bp-tablet+1px)) {
        margin-top: em(28);
        gap: em(18);
      }

      li {
        display: inline-flex;
        padding: em(4) em(8);
        gap: em(8);
        align-items: center;
        background-color: var(--cg_neutral_100);
        svg {
          height: em(20);
          width: em(20);
        }
        @media (min-width: ($bp-tablet+1px)) {
          padding: em(8) em(12);
        }
      }
    }

    ul li:last-child {
      background-color: var(--cg_neutral_0);
      border: em(1) solid var(--cg_neutral_300);
    }
    @media (min-width: ($bp-tablet+1px)) {
      display: flex;
      gap: em(28);
      align-items: center;
      flex-wrap: wrap;
      width: 85%;
    }
  }
  @media (min-width: ($bp-tablet+1px)) {
    display: flex;
    justify-content: space-between;
  }
  .sort-by-options {
    .sort-by-selector {
      color: var(--cg_neutral_800);
      line-height: 170%;

      .sort-button {
        display: inline-flex;
        padding: em(8) em(28) em(8) 0;
        align-items: center;
        justify-content: space-between;
        min-width: em(142);
        border-bottom: 0.0625em solid var(--cg_neutral_600);
        background: var(--cg-caret-down) no-repeat;
        background-position-x: right;

        &.expanded::after {
          transform: rotate(180deg);
        }
      }
      .options {
        display: none;
        &.show {
          display: flex;
          flex-direction: column;
          row-gap: em(16);
          position: absolute;
          z-index: 100;
          top: 0;
          left: auto;
          right: auto;
          border-radius: 0;
          background: var(--cg_neutral_0);
          padding: em(5) 0;
          text-align: left;
          margin: em(2) 0 0;
          border: em(1) solid var(--cg_neutral_800);
        }
        .sort-option {
          position: relative;
          padding: 0 em(24);
          cursor: pointer;
        }
      }
      ul li {
        &:hover {
          background-color: var(--cg_neutral_100);
        }
      }
    }
    @media (max-width: ($bp-tablet+1px)) {
      position: absolute;
      right: em(19);
      top: 0;
    }
  }
}
